#graytopbuffer{
	width:100%;
	height:60px;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
}
#graytopbar{
	width:100%;
	height:49px;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
	background:#ffffff;
}
#graytopbarinner{
	width:900px;
	height:49px;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
}
.graytopbarinnerlinks div{
	width:299px;
	border-left:1px solid #dddddd;
	height:47px;
	border-bottom:2px solid #ffffff;
	margin:auto;
	float:left;
	text-align:center;
	overflow:hidden;
	line-height:47px;
	font-family:Lato, sans-serif;
	text-transform:uppercase;
	font-size:16px;
	text-decoration:none;
	color:#999999;
	-webkit-transition:border-bottom 0.6s, color 0.6s;
	transition:border-bottom 0.6s, color 0.6s;
}
.graytopbarinnerlinks:hover div{
	text-decoration:none;
	color:#333333;
	border-bottom:2px solid #2980b9;
	-webkit-transition:border-bottom 0.6s, color 0.6s;
	transition:border-bottom 0.6s, color 0.6s;
}
.graytopbarinnerlinks:active div{
	text-decoration:none;
	color:#333333;
	border-bottom:2px solid #2980b9;
}

#graymaindiv{
	width:100%;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	min-height:300px;
	overflow:hidden;
}

.graymaindivouter{
	width:100%;
	height:auto;
	min-height:600px;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
/*	background:#f5f5f5;*/
}

.graymaindivinner{
	width:400px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
	margin-top:120px;
}
.graymaindivinnertitle{
	width:400px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	padding:10px 0px;
	font-size:24px;
/*	font-family:Lato, sans-serif;
	font-weight: 700;*/
	font-family:Lato, sans-serif;
	font-weight:900;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#333333;
}
.graymaindivinnertext1{
	width:400px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	padding:5px 0px;
	font-size:16px;
/*	font-family:Lato, sans-serif;
	font-weight: 700;*/
	font-family:Lato, sans-serif;
	font-weight:700;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#444444;
}
.graymaindivinnertext2{
	width:400px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	padding:5px 0px;
	font-size:11px;
/*	font-family:Lato, sans-serif;
	font-weight: 700;*/
	font-family:Lato, sans-serif;
	font-weight:400;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#777777;
}
.graymaindivinnerforms{
	width:400px;
	height:50px;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
	padding:0px 0px;
}



.graymaindiv1outer{
	width:100%;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
/*	background:#f5f5f5;*/
}

.graymaindiv1inner{
	width:900px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
	margin-top:20px;
	border-bottom:1px solid #dddddd;
}
.graymaindiv1innerleft{
	width:450px;
	height:auto;
	margin:auto;
	float:left;
	text-align:left;
	overflow:hidden;
}
.graymaindiv1innerlefttop{
	width:450px;
	height:60px;
	margin:auto;
	float:left;
	text-align:left;
	overflow:hidden;
	font-size:30px;
/*	font-family:Lato, sans-serif;
	font-weight: 700;*/
	font-family:Lato, sans-serif;
	font-weight:900;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#333333;
}
.graymaindiv1innerleftbottom{
	width:450px;
	height:140px;
	margin:auto;
	float:left;
	text-align:left;
	overflow:hidden;
	font-size:16px;
/*	font-family:Lato, sans-serif;
	font-weight: 300;*/
	font-family:Lato, sans-serif;
	font-weight:300;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#565656;
}
.graymaindiv1innerright{
	width:280px;
	height:140px;
	padding-top:60px;
	margin:auto;
	float:right;
	overflow:hidden;
}
.graymaindiv1innerrightinner1{
	width:280px;
	height:auto;
	margin:auto;
	padding:5px 0px;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:13px;
/*	font-family:Lato, sans-serif;
	font-weight: 700;*/
	font-family:Lato, sans-serif;
	font-weight:300;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#888888;
}
.graymaindiv1innerrightinner2{
	width:280px;
	height:auto;
	margin:auto;
	padding:2px 0px;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:22px;
/*	font-family:Lato, sans-serif;
	font-weight: 700;*/
	font-family:Lato, sans-serif;
	font-weight:700;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#565656;
}
.graymaindiv1innerrightinner3{
	width:280px;
	height:auto;
	margin:auto;
	padding:2px 0px;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:17px;
/*	font-family:Lato, sans-serif;
	font-weight: 700;*/
	font-family:Lato, sans-serif;
	font-weight:400;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#565656;
}



.graylowerouter{
	width:100%;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
/*	background:#f5f5f5;*/
}

.graylowerinner{
	width:1100px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
	margin-top:50px;
}

.graylowerinnermain{
	width:760px;
	padding:10px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
	background:#f9f9f9;
	border-top:2px solid #2980b9;
}
.graylowerinnermaintop{
	width:760px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:18px;
	font-family:Lato, sans-serif;
	font-weight: 500;
/*	font-family:Lato, sans-serif;
	font-weight:400;*/
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#444444;
}
.graylowerinnermaintext{
	width:760px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:14px;
	font-family:Lato, sans-serif;
	font-weight: 300;
/*	font-family:Lato, sans-serif;
	font-weight:400;*/
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	padding:5px 0px;
}
.graylowerinnermainmiddle{
	width:760px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:22px;
	font-family:Lato, sans-serif;
	font-weight: 500;
/*	font-family:Lato, sans-serif;
	font-weight:400;*/
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#444444;
}
.graylowerinnermainmiddle1{
	width:253px;
	height:auto;
	margin:auto;
	float:left;
	text-align:left;
	overflow:hidden;
}

.radiolabelgray{
	font-size:14px;
	font-family:Lato, sans-serif;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#565656;
}
.formerrorsgray{
	position:absolute;
	z-index:700;
	height:auto;
	width:auto;
	padding:7px 10px 7px 10px;
	background:#2980b9;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size:11px;
	font-family:Lato, sans-serif;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#ffffff;
}


.graylowerinnerleft{
	width:200px;
	height:auto;
	margin:auto;
	float:left;
	text-align:left;
	overflow:hidden;
}
.graylowerinnerleftinner{
	width:200px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
}
.graylowerinnerleftinnerboxes{
	width:180px;
	padding:0px 10px;
	height:50px;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	border-top:1px solid #dddddd;
	cursor:pointer;
	text-transform:uppercase;
	font-size:13px;
	color:#777777;
	text-decoration:none;
	font-family:Lato, sans-serif;
	font-weight: 500;
	-webkit-transition:color 0.6s;
	transition:color 0.6s;
	-webkit-transition:background 0.6s;
	transition:background 0.6s;
}
.graylowerinnerleftinnerboxes:hover{
	background:#f5f5f5;
	color:#565656;
	font-family:Lato, sans-serif;
	font-weight: 500;
	-webkit-transition:color 0.6s;
	transition:color 0.6s;
	-webkit-transition:background 0.6s;
	transition:background 0.6s;
}
.graylowerinnerleftinnerboxesselected{
	background:#f5f5f5;
	color:#2980b9;
	font-family:Lato, sans-serif;
	font-weight: 700;
}
.graylowerinnerleftinnerboxesselected:hover{
	background:#f5f5f5;
	color:#2980b9;
	font-family:Lato, sans-serif;
	font-weight: 700;
}



.graylowerinnerright{
	width:850px;
	height:auto;
	margin:auto;
	float:right;
	text-align:left;
	overflow:hidden;
}
.graylowerinnerrighth{
	width:850px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	margin-bottom:40px;
	font-size:27px;
	color:#444444;
	text-decoration:none;
	font-family:Lato, sans-serif;
	font-weight:900;
}
.graylowerinnerrightq{
	width:850px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	margin-bottom:0px;
	font-size:25px;
	color:#444444;
	text-decoration:none;
	font-family:Lato, sans-serif;
	font-weight:700;
}
.graylowerinnerrighta{
	width:830px;
	padding-left:20px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	margin-bottom:20px;
	font-size:16px;
	color:#565656;
	text-decoration:none;
	font-family:Lato, sans-serif;
	font-weight:400;
}
.graylowerinnerrighta a{
	color:#565656;
	text-decoration:underline;
	-webkit-transition:color 0.6s;
	transition:color 0.6s;
}
.graylowerinnerrighta a:hover{
	color:#2980b9;
	-webkit-transition:color 0.6s;
	transition:color 0.6s;
}


.graymaindivinnertoptext{
	width:1000px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
	font-size:50px;
	font-family:Lato, sans-serif;
	font-weight: 500;
/*	font-family:Lato, sans-serif;
	font-weight:900;*/
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#ffffff;
}
#graymaindivinnertoptext2{
	font-size:30px;
	font-family:Lato, sans-serif;
	font-weight: 300;
/*	font-family:Lato, sans-serif;
	font-weight:400;*/
	color:#f9f9f9;
}

#graymaindivinner1{
	padding:0px 0px 0px 0px;
}
#graymaindivinner2{
	padding:35px 0px 0px 0px;
}


.graymaindivinnertext{
	width:900px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:50px;
/*	font-family:Lato, sans-serif;
	font-weight: 700;*/
	font-family:Lato, sans-serif;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#888888;
}
#graymaindivinner1text1{
	font-size:30px;
	color:#333333;
	font-weight:700;
}
#graymaindivinner1text2{
	margin-top:10px;
	font-size:14px;
}

.graymaindivinnerlower{
	width:1100px;
	height:auto;
	margin:auto;
	margin-top:50px;
	clear:both;
	text-align:center;
	overflow:hidden;
}
.graymaindivinnerlowerboxes{
	width:300px;
	height:auto;
	margin:auto;
	float:left;
	text-align:center;
	overflow:hidden;
}
.graymaindivinnerlowerboxestop{
	width:300px;
	height:120px;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
}
.graymaindivinnerlowerboxesmiddle{
	width:300px;
	padding:10px 0px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
	font-size:21px;
	font-family:Lato, sans-serif;
	font-weight: 700;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#444444;
}
.graymaindivinnerlowerboxesbottom{
	width:300px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:15px;
	font-family:Lato, sans-serif;
	font-weight: 500;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
	color:#565656;
}


.trymaindivinnermain{
	width:1000px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:15px;
	color:#333333;
}
.trymaindivinnermainleft{
	width:450px;
	height:auto;
	margin:auto;
	float:left;
	overflow:hidden;
}
.trymaindivinnermainright{
	width:450px;
	height:auto;
	margin:auto;
	float:right;
	overflow:hidden;
}

#trymaindivinner1mainright1{
	border-top:2px solid #2980b9;
	background:#fafafa;
	width:420px;
	padding:15px;
}

.trylefttext{
	font-family:Lato, sans-serif;
	font-weight: 500;
	font-size:16px;
}
.tryleftheading{
	margin-top:25px;
	width:400px;
	padding:0px 25px;
	font-family:Lato, sans-serif;
	font-weight: 500;
	text-transform:uppercase;
	color:#2980b9;
}
.tryleftform{
	margin-top:15px;
	width:400px;
	padding:0px 25px;
}


.tryrighttext{
	font-family:Lato, sans-serif;
	font-weight: 300;
	font-size:14px;
	margin-top:10px;
}
.tryrightheading{
	margin-top:25px;
	width:420px;
	padding:0px 0px;
	font-family:Lato, sans-serif;
	font-weight: 500;
	color:#2980b9;
	font-size:16px;
}
.tryrightform{
	margin-top:15px;
	width:400px;
	padding:0px 25px;
}


.grayfields{
    width: 100px;
	margin:auto;
    padding: 0px 10px;
    height:35px;
    outline:none;
	resize:none;
    	font-size:14px;
	font-family:Lato, sans-serif;
color:#888888;
border:none;
-moz-border-radius: 2px;
border-radius: 2px;
border:1px solid #cccccc;
background:#fefefe;
    }
.grayfields:hover{
}
.grayfields:focus{
	color:#565656;
}	
.grayfields:disabled{
	color:#dddddd;
    }

select.grayfields{
	cursor:pointer;
    width: 160px;
    padding: 0px 10px;
    height:37px;
    outline:none;
	resize:none;
    	font-size:14px;
	font-family:Lato, sans-serif;
color:#888888;
border:none;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-appearance: none;
background: url(https://wwccdn.s3.amazonaws.com/images/downarrow.png) no-repeat right #ffffff;
border:1px solid #cccccc;
    }
select.grayfields:hover{
}
select.grayfields:focus{
	background: url(https://wwccdn.s3.amazonaws.com/images/downarrow.png) no-repeat right #ffffff;
   color:#565656;
}	


.graymaindivinnermainouter{
	width:100%;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
}
.graymaindivinnermain{
	padding:20px 0px;
	width:900px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
}

.graymaindivinnermainheading{
	width:900px;
	margin:auto;
	margin-top:20px;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:22px;
	color:#333333;
	font-family:Lato, sans-serif;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
}
.graymaindivinnermaintext{
	width:900px;
	height:auto;
	margin:auto;
	margin-top:10px;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:15px;
	color:#565656;
	font-family:Lato, sans-serif;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
}
.graymaindivinnermaintextindent1{
	width:850px;
	paddingleft:50px;
	height:auto;
	margin:auto;
	margin-top:10px;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:15px;
	color:#565656;
	font-family:Lato, sans-serif;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
}
.graymaindivinnermaintextindent2{
	width:800px;
	paddingleft:100px;
	height:auto;
	margin:auto;
	margin-top:10px;
	clear:both;
	text-align:left;
	overflow:hidden;
	font-size:15px;
	color:#565656;
	font-family:Lato, sans-serif;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
}

.graymaindivinnermainrightinnerboxes{
	width:240px;
	height:50px;
	margin:auto;
	float:left;
	text-align:center;
	overflow:hidden;
	font-size:14px;
	color:#565656;
	font-family:Lato, sans-serif;
	font-weight: 500;
	-webkit-font-smoothing:antialiased;
	font-smoothing:always;
}
