#hellotopbuffer{
	width:100%;
	height:60px;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
}

#hellomaindiv{
	width:100%;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
	font-family: 'hurme1regular';
	position: relative;
}
.hello_apps_default{
	width:100%;
	height: 100vh;
	background: radial-gradient(circle farthest-side at right bottom,#fff 8%,#154866 70%,#000);
	background: radial-gradient(circle farthest-side at right bottom,#fff 8%,#3F5F84 70%,#07090D);
}
.hello_apps_mobile{
	width:100%;
	height: 100vh;
	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	background: radial-gradient(circle farthest-side at right bottom,#fff 8%,#154866 70%,#000);
  	background: radial-gradient(circle farthest-side at right bottom,#fff 8%,#3F5F84 70%,#07090D);
}
.hello_apps_mobile>div{
	width:100%;
	height:auto;
	margin:auto;
}

.hello_apps_desktop{
	width:100%;
	height:100vh;
	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	background: radial-gradient(circle farthest-side at right bottom,#fff 8%,#154866 70%,#000);
	background: radial-gradient(circle farthest-side at right bottom,#fff 8%,#3F5F84 70%,#07090D);
}
.hello_apps_desktop > div.left{
	width:50%;
	height:100%;
	padding: 0px;
	margin:auto;
	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	flex:auto;
  	-webkit-flex: auto;
}

.hello_apps_desktop > div.left > div{
	width:246.7px;
//	height:432.5px;
	margin:auto;
}

.hello_apps_desktop > div.left > div img{
	max-width: 100%;
//	max-height: 100%;
}


.hello_apps_desktop > div.right{
	width:50%;
	height:100%;
	padding: 100px 0px 100px;
	margin:auto;
	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
  	align-items: center;
  	justify-content: flex-end;
  	flex:auto;
  	-webkit-flex: auto;
}

.hello_apps_desktop > div.right > div{
	width:80%;
	height:auto;
	margin:auto;
	margin-right: 0;
}

.hello_apps_desktop > div.right > div > div{
	width:auto;
	height: auto;
	margin:auto;
	margin-top:2.5rem;
}
.hello_apps_desktop > div.right > div > div #iosbtn{
	margin-left:1rem;
}

.hello_apps_desktop h1{
	font-size:2rem;
	line-height:2.5rem;
}
.hello_apps_desktop h1 span{
	font-size:2rem;
	line-height: 2.5rem;
}
.hello_apps_desktop h2{
	font-size:1.5rem;
	line-height:1.75rem;
	margin-bottom:.2rem;
}

.hello_apps_desktop > div > div.right h4{
	font-size: 1.2rem;
	line-height: 1.5rem;
}
.hello_apps_desktop > div > div.right p{
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.hello_notif{
	clear: both;
  	overflow: hidden;
  	width: 100%;
  	padding:10px 5% 10px;
  	color:#ffffff;
  	font-size: 0.8rem;
}

.hello_header{
	clear: both;
  	overflow: hidden;
  	width: 100%;
  	height: calc(90vh - 120px);
  	/*height: 800px;*/
}

/*
@keyframes background-loop1 {
    0%,
    100% {
//        background: #2878ff;
		background: linear-gradient(45deg, rgba(98, 94, 177, 1), rgba(85,134,198, .97) 50%, rgba(34, 225, 255, .7));
    }
    50% {
        background: linear-gradient(45deg, rgba(164, 69, 178, 1), rgba(212, 24, 114, .97) 50%, rgba(255, 0, 102, .7));
    }
}*/


#hellomaindiv > .stripes {
	z-index: 0;
    width: 100%;
    height: 90vh;
    top:0;
//    background: linear-gradient(45deg, rgba(252, 0, 255, .8), rgba(0, 219, 222, .8));
	background: linear-gradient(45deg, rgba(98, 94, 177, 1), rgba(85,134,198, .97) 50%, rgba(34, 225, 255, .7));
//	background: linear-gradient(45deg, rgba(98, 94, 177, .8), rgba(85,134,198, .7) 50%, rgba(34, 225, 255, .5));
//	animation: background-loop1 20s infinite;
//    will-change: background;
}



.hello_header > div{
	width:100%;
	height:100%;
	padding:0;
	z-index: 3;
}
#hellomaindiv > div.background{
	width: 100%;
	height: 90vh;
	background-image:url('https://derbiicdn.storage.googleapis.com/images/landing/bg1.jpg');
//	background-image:url('https://derbiicdn.storage.googleapis.com/images/landing/bg11.jpg');
	background-position:  center center;
	background-size:  cover;
	background-repeat: no-repeat;
  	z-index: -4;
}
#hellomaindiv > div.background1{
	width: 100%;
	height: 100%;
  	z-index: -5;
}
.hello_header > div.screen{
//	background: linear-gradient(168deg, rgba(254,199,153,.5) 1%, rgba(20,20,20,.6) 20%, rgba(30,114,203,.5) 80%);
  	z-index: -3;
}
.hello_header > div.screen+div > div{
	width: 100%;
	height: 100%;
	padding: 0 10% 0;
}

.hello_header > div.screen+div > div > div.heading{
	width:auto;
	max-width: 60%;
	height: 100%;
	margin:auto;
	margin-left: 0;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
  	justify-content: flex-start;
}
.hello_header > div.screen+div > div > div.heading > div{
	height: auto;
	margin:auto;
	margin-left: 0;
}
/*.hello_header > div.screen+div > div > div.content{
	width:40%;
	height: auto;
	margin:auto;
	left: 7%;
	top: 30vh;
}*/

.hello_header > div.screen+div #routesbtn{
	margin-left: 1rem;
}

.hello_header h1{
	font-size:3.25rem;
	line-height:3.75rem;
}
.hello_header h1 span{
	font-size:3.25rem;
	line-height:3.75rem;
}
.hello_header h2{
	font-size:1.75rem;
	line-height:2rem;
	margin-bottom: 0;
	max-width: 80%;
}
.hello_header h2+h2{
	margin-bottom:2rem;
}





.hello_why_outer{
	clear: both;
	width: 100%;
}




.hello_why{
	clear: both;
	width: 100%;
	padding-bottom: 100px;
	z-index: 1;
}
.hello_why > div{
	width:80%;
	max-width: 80%;
	height:auto;
	margin:auto;
	clear:both;
}

.hello_why > div div.heading{
	width:100%;
	height:auto;
	margin:auto;
	padding-top: 50px;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
}
.hello_why > div div.heading > div{
	width:50%;
	height:auto;
	margin:auto;
}

.hello_why > div div.heading > div h1{
	font-size: 2rem;
	line-height: 2.5rem;
}
.hello_why > div div.heading > div h2{
	font-size: 1.5rem;
	line-height:1.75rem;
	margin: auto;
}

.hello_why > div div.features{
	width:100%;
	height:auto;
	margin:auto;
	margin-top: 50px;
	padding-bottom: 50px;
}
.hello_why > div div.features > div{
	width:100%;
	height:auto;
	margin:auto;
	margin-top:70px;
}

.hello_why > div div.features > div > div{
	width:33%;
	display: inline-block;
	height:auto;
	margin:auto;
	clear: both;
	overflow:hidden;
	vertical-align: top;
	padding:0 2%;
}
.hello_why > div div.features > div > div > div.image{
	width:100%;
	height:auto;
}
.hello_why > div div.features > div > div > div.text{
	width:100%;
/*	-webkit-flex: auto;
	flex: auto;*/
	margin-top: 20px;
}
.hello_why > div div.features > div > div > div > img{
/*	-webkit-filter: grayscale(100%);*/
}
.hello_why > div div.features > div > div > div > h4{
	font-size: 1.1rem;
	line-height: 1.35rem;
}
.hello_why > div div.features > div > div > div > p{
	font-size: 1rem;
	line-height: 1.1rem;
}






.hello_how_outer{
/*	clear: both;
	overflow: hidden;*/
	overflow: visible;
	width: 100%;
	padding: 50px 0 50px;
}

.hello_how_outer .stripes {
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
//    background: #32325d;
/*	background: radial-gradient(circle farthest-side at right bottom,#fefdfe 5%,#f8cdda 25%,#1d2b64 80%,#0e153a 98%);
    box-shadow: 0 0 0 rgba(0, 0, 0, .01);*/
    background-image: linear-gradient(45deg, #1A2980, #26D0CE);
}


.hello_how{
	clear: both;
	overflow: hidden;
	width: 100%;
	padding:0px 10%;
	height: auto;
	z-index: 1;
}
.hello_how > div{
	width:100%;
	max-width: 100%;
	height:auto;
	margin:auto;
	clear:both;
	overflow:hidden;
	position: relative;
}



.hello_how > div div.heading{
	width:100%;
	height:auto;
	margin:auto;
	margin-top: 50px;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
  	overflow: visible;
}
.hello_how > div div.heading > div{
	width:100%;
	height:auto;
	margin:auto;
}

.hello_how > div div.heading > div h1{
	font-size: 2rem;
	line-height: 2.5rem;
}
.hello_how > div div.heading > div h2{
	font-size: 1.5rem;
	line-height:1.75rem;
	margin: auto;
}
.hello_how > div div.heading > div > div{
	margin-top: 40px;
}



.hello_how > div div.content{
	width:100%;
	height:auto;
	margin:auto;
	overflow: visible;
	margin-top: 50px;
	margin-bottom: 50px;
/*	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
  	overflow: visible;*/
}

.hello_how > div div.content > div{
	width:50%;
	height:auto;
	margin:auto;
	overflow: visible;
	display: inline-block;
	clear: both;
	padding: 20px 30px;
}

.hello_how > div div.content > div > div{
	width:100%;
	height:400px;
	background: rgba(0,0,0,.4);
	margin:auto;
	margin-top: 50px;
	padding: 0;
}

.hello_how > div div.content > div > div > div.count{
	width:50px;
	height:50px;
	bottom: 30px;
	right: 30px;
	line-height: 50px;
	font-size: 20px;
	background: rgba(0,0,0,.3);
	-webkit-border-radius:50%;
	moz-border-radius:50%;
	border-radius: 50%;
	z-index: 2;
}

.hello_how > div div.content > div > div > div.left{
	width:240px;
	height:400px;
	top: 0;
	left: 0;
	padding: 0;
}
.hello_how > div div.content > div > div > div.left > img{
	max-width:240px;
	max-height:400px;
}
.hello_how > div div.content > div > div > div.right{
	height:100%;
	top: 0;
	left: 240px;
	right: 0;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
  	overflow: visible;
}
.hello_how > div div.content > div > div > div.right > div.upper{
	height:6rem;
	width: 100%;
	padding: 0px 30px;
	overflow: hidden;
	background: rgba(0,0,0,.2);
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: flex-start;
  	justify-content: center;
  	vertical-align:middle;
}
.hello_how > div div.content > div > div > div.right > div.lower{
	flex:auto;
	width: 100%;
	padding: 0px 30px;
	overflow: hidden;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
}





.hello_how h1{
	font-size:2rem;
	line-height:2.5rem;
}
.hello_how h1 span{
	font-size:2rem;
	line-height: 2.5rem;
}

.hello_how div.buttonalt > i.fa{
    padding-left: .5rem;
    font-weight: 300;
}


.hello_how h2{
	font-size:1.25rem;
	line-height:1.5rem;
	vertical-align:middle;
	margin-bottom: 0;
}
.hello_how h2.shaded{
	color: #c5b3cb;
    background: -webkit-linear-gradient(0,rgba(180,180,250,.7),#fadce5 50%,#fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





.hello_pricing{
	clear: both;
	width: 100%;
	padding:150px 10% 50px;
}
.hello_pricing > div{
	width:100%;
	max-width: 100%;
	height:auto;
	margin:auto;
	clear:both;
}
.hello_pricing h1{
	font-size:2rem;
	line-height:2.5rem;
}
.hello_pricing h1 span{
	font-size:2rem;
	line-height: 2.5rem;
}
.hello_pricing h2{
	font-size:1.5rem;
	line-height:1.75rem;
}

.hello_pricing > div > div{
	width: 60%;
	height: auto;
	margin-top: 120px;
	margin: auto;
}
.hello_pricing > div > div > div{
	width: 100%;
	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	margin: auto;
}

.hello_pricing > div > div > div > div{
	width:80%;
	height:auto;
	margin:auto;
	flex:auto;
}

.hello_pricing > div > div > div.left{
	padding-top: 80px;
}

.hello_pricing > div > div > div.left > div > div{
	width:100%;
	height:auto;
	overflow: visible;
}
.hello_pricing > div > div > div.left > div > div.fieldbox{
	overflow: visible;
	margin-top: 3rem;
}
.hello_pricing > div > div > div.left > div > div.fieldbox+div.fieldbox{
	margin-top: 2rem;
}
.hello_pricing > div > div > div.left > div > div.btnbox{
	margin-top: 20px;
}
.hello_pricing > div > div > div.left > div > div.btnbox > div.calcbox{
	width:100%;
	margin-top: 20px;
}
.hello_pricing > div > div > div.left > div > div.btnbox > div.calcbox > div{
	width:auto;
	height: auto;
	margin: auto;
}
.hello_pricing > div > div > div.left > div > div.btnbox > div.calcbox > div button{
	margin: auto;
}

.hello_pricing > div > div > div.right > div > p+h4{
	margin-top:2rem;
}
.hello_pricing > div > div > div.right > div > h4+p{
	margin-top:1rem;
}
.hello_pricing > div > div > div.right > div > p{
	font-size: 1rem;
	line-height: 1.2rem;
	margin-bottom: 0;
}
.hello_pricing .btn{
	margin-top: 30px;
	width: 100%;
	max-width: 300px;
}

.hello_pricing div.card{
	width: 80%;
	padding: 30px 30px;
    overflow: hidden;
}





.hello_pricing_customers_buffer{
	width:100%;
	height: 100px;
	background: linear-gradient(180deg, #ffffff, #f2f2f2);
}




.hello_customers_outer{
	width: 100%;
	padding: 50px 0 100px;
	overflow: visible;
}

.hello_customers{
	clear: both;
	overflow: hidden;
	width: 100%;
	padding:100px 10%;
}
.hello_customers h1{
	font-size:2rem;
	line-height:2.5rem;
}
.hello_customers h1 span{
	font-size:2rem;
	line-height: 2.5rem;
}
.hello_customers > div{
	width:100%;
	height:auto;
	margin:auto;
	clear:both;
	overflow:visible;
	margin-top: 70px;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: row;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
}
.hello_customers > div > div{
	flex:auto;
	width:30%;
	height:auto;
	margin:auto;
	margin-top: 0;
	display: inline-block;
	overflow:hidden;
	padding: 0px 0px 40px;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
}
.hello_customers > div > div+div{
	margin-left: 5%;
}
.hello_customers > div > div > div{
	flex:auto;
	padding: 30px 20px 0px;
}
.hello_customers > div > div+div{
}
.hello_customers > div > div > div:first-child{
	padding-bottom: 40px;
	clear: both;
}
.hello_customers > div > div > p{
	margin: auto;
	margin-top: 40px;
	padding: 0 20px;
}
.hello_customers > div > div > p+p{
	margin-top: 10px;
}
.hello_customers > div > div > div:first-child > p+p{
	font-size: .9rem;
	float: right;
	margin-left: 0px;
}
.hello_customers > div > div > div:first-child > img{
	display: block;
	max-height:150px;
	max-width:150px;
//	float: left;
	-webkit-border-radius:50%;
	moz-border-radius:50%;
	border-radius: 50%;
	margin: auto;
	box-shadow: 0 25px 45px rgba(50, 50, 93, .2), 0 15px 25px rgba(0, 0, 0, .1);
}
.hello_customers > div > div > div:first-child > div{
	margin-top: 30px;
}
.hello_customers > div > div > div:last-child{
	font-size: 0.7rem;
	padding: 10px 0px;
}


















.hello_cta{
  	width: 100%;
  	padding:0px 10% 150px;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: row;
	flex-direction: row;
	align-items: flex-start;
  	justify-content: center;
}
.hello_cta > div{
	display: inline-block;
	width:50%;
	padding: 0 2%;
//	max-width: 800px;
	height:auto;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:visible;
}
.hello_cta > div > div{
	width:100%;
	height:100%;
	margin:auto;
	clear:both;
	text-align:center;
	overflow:hidden;
}
.hello_cta p{
	margin-bottom: 0;
}







.hello_main .head_text{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	font-size: 1.1rem;
}

.show_on_mobile{
	display: none;
}





@media only screen and (max-width: 1366px) {
.hello_header{
  	height: calc(90vh - 120px);
}
#hellomaindiv > .stripes {
    height: 90vh;
}
#hellomaindiv > div.background{
	height: 90vh;
}
.hello_header > div.screen+div > div{
	padding: 0 5% 0;
}

.hello_header > div.screen+div > div > div.heading{
	max-width: 70%;
}
.hello_header h1{
	font-size:3rem;
	line-height:3.5rem;
}
.hello_header h1 span{
	font-size:3rem;
	line-height:3.5rem;
}
.hello_header h2{
	font-size:1.5rem;
	line-height:1.75rem;
}






.hello_why{
	padding-bottom: 100px;
}
.hello_why > div{
	width:90%;
	max-width: 90%;
}

.hello_why > div div.heading{
	padding-top: 50px;
}
.hello_why > div div.heading > div{
	width:70%;
}

.hello_why > div div.heading > div h1{
	font-size: 2rem;
	line-height: 2.5rem;
}
.hello_why > div div.heading > div h2{
	font-size: 1.5rem;
	line-height:1.75rem;
	margin: auto;
}

.hello_why > div div.features{
	margin-top: 50px;
	padding-bottom: 50px;
}
.hello_why > div div.features > div{
	margin-top:70px;
}
.hello_why > div div.features > div > div > div.image{
	width:100%;
	height:auto;
}
.hello_why > div div.features > div > div > div.text{
	width:100%;
	margin-top: 20px;
}
.hello_why > div div.features > div > div > div > h4{
	font-size: 1.1rem;
	line-height: 1.35rem;
}
.hello_why > div div.features > div > div > div > p{
	font-size: 1rem;
	line-height: 1.1rem;
}











.hello_how_outer{
/*	clear: both;
	overflow: hidden;*/
	overflow: visible;
	width: 100%;
	padding: 0px 0 0px;
}
.hello_how{
	padding:0px 5%;
}
.hello_how > div div.heading{
	margin-top: 50px;
}
.hello_how > div div.heading > div h1{
	font-size: 2rem;
	line-height: 2.5rem;
}
.hello_how > div div.heading > div h2{
	font-size: 1.5rem;
	line-height:1.75rem;
	margin: auto;
}
.hello_how > div div.heading > div > div{
	margin-top: 40px;
}
.hello_how > div div.content{
	margin-top: 50px;
	margin-bottom: 50px;
}

.hello_how > div div.content > div{
	width:50%;
	padding: 20px 30px;
}

.hello_how > div div.content > div > div{
	height:400px;
	margin-top: 50px;
}

.hello_how > div div.content > div > div > div.count{
	width:50px;
	height:50px;
	bottom: 30px;
	right: 30px;
	line-height: 50px;
	font-size: 20px;
	background: rgba(0,0,0,.3);
	-webkit-border-radius:50%;
	moz-border-radius:50%;
	border-radius: 50%;
	z-index: 2;
}

.hello_how > div div.content > div > div > div.left{
	width:240px;
	height:400px;
	top: 0;
	left: 0;
	padding: 0;
}
.hello_how > div div.content > div > div > div.left > img{
	max-width:240px;
	max-height:400px;
}
.hello_how > div div.content > div > div > div.right{
	height:100%;
	top: 0;
	left: 240px;
	right: 0;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
  	overflow: visible;
}
.hello_how > div div.content > div > div > div.right > div.upper{
	height:6rem;
	width: 100%;
	padding: 0px 30px;
	overflow: hidden;
	background: rgba(0,0,0,.2);
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: flex-start;
  	justify-content: center;
  	vertical-align:middle;
}
.hello_how > div div.content > div > div > div.right > div.lower{
	flex:auto;
	width: 100%;
	padding: 0px 30px;
	overflow: hidden;
	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: flex-start;
  	justify-content: center;
}
.hello_how h1{
	font-size:2rem;
	line-height:2.5rem;
}
.hello_how h1 span{
	font-size:2rem;
	line-height: 2.5rem;
}

.hello_how h2{
	font-size:1.2rem;
	line-height:1.5rem;
}












.hello_pricing > div > div{
	width: 70%;
	height: auto;
	margin-top: 120px;
	margin: auto;
}


}




@media only screen and (max-width: 1100px) {
.hello_header > div.screen+div > div > div.heading{
	max-width: 80%;
}
.hello_header h2{
	max-width: 100%;
}
.hello_why > div div.features > div > div > div > h4{
	font-size: 1rem;
	line-height: 1.25rem;
}
.hello_why > div div.features > div > div > div > p{
	font-size: .9rem;
	line-height: 1rem;
}




.hello_how > div div.content > div{
	width:100%;
}
.hello_how > div div.content > div > div{
	height:240px;
}

.hello_how > div div.content > div > div > div.count{
	width:40px;
	height:40px;
	bottom: 10px;
	right: 10px;
	line-height: 40px;
	font-size: 17px;
	background: rgba(0,0,0,.3);
	-webkit-border-radius:50%;
	moz-border-radius:50%;
	border-radius: 50%;
	z-index: 2;
}

.hello_how > div div.content > div > div > div.left{
	width:144px;
	height:240px;
	top: 0;
	left: 0;
	padding: 0;
}
.hello_how > div div.content > div > div > div.left > img{
	max-width:144px;
	max-height:240px;
}
.hello_how > div div.content > div > div > div.right{
	height:100%;
	top: 0;
	left: 144px;
	right: 0;
}
.hello_how > div div.content > div > div > div.right > div.upper{
	height:4.5rem;
	width: 100%;
	padding: 0px 30px;
}
.hello_how > div div.content > div > div > div.right > div.lower{
	flex:auto;
	width: 100%;
	padding: 0px 30px;
}




.hello_pricing > div > div{
	width: 90%;
	height: auto;
	margin-top: 120px;
	margin: auto;
}





.hello_pricing_customers_buffer{
	height: 50px;
}



}


@media only screen and (max-width: 900px) {
.hello_header > div.screen+div > div > div.heading{
	max-width: 90%;
}

.hello_why > div div.features > div > div{
	width:100%;
	margin-top: 50px;
	padding:0 2%;
}
.hello_why > div div.features > div{
	margin-top:0px;
}
.hello_why > div div.features > div > div > div.text{
	width:100%;
	margin-top: 20px;
}
.hello_why > div div.features > div > div > div > h4{
	font-size: 1rem;
	line-height: 1.25rem;
}
.hello_why > div div.features > div > div > div > p{
	font-size: .9rem;
	line-height: 1rem;
}


.hello_pricing{
	clear: both;
	width: 100%;
	padding:100px 2% 100px;
}
.hello_pricing > div > div > div > div{
	width: 100%;
}
.hello_pricing h1{
	font-size:1.5rem;
	line-height:2rem;
}
.hello_pricing h1 span{
	font-size:1.5rem;
	line-height: 2rem;
}
.hello_pricing h2{
	font-size:1.2rem;
	line-height:1.5rem;
	margin-bottom:.2rem;
}
.hello_pricing p.para2{
	font-size: 1rem;
    line-height: 1.2rem;
    padding: 0 0;
    margin-bottom: 1rem;
}

.hello_pricing > div > div{
	margin-top: 0px;
}
.hello_pricing > div > div > div.left{
	padding-top: 40px;
}













.hello_customers_outer{
	padding: 0px 0 50px;
}

.hello_customers{
	padding:100px 5%;
}
.hello_customers h1{
	font-size:1.5rem;
	line-height:2rem;
}
.hello_customers h1 span{
	font-size:1.5rem;
	line-height: 2rem;
}
.hello_customers > div{
	margin-top: 70px;
	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
}
.hello_customers > div > div{
	width:100%;
	height:auto;
	margin:auto;
	display: block;
	overflow:hidden;
	padding-bottom: 20px;
}
.hello_customers > div > div+div{
	margin-left: auto;
	margin-top: 50px;
}
.hello_customers > div > div > div{
	flex:auto;
	padding: 30px 20px 0px;
}
.hello_customers > div > div+div{
}
.hello_customers > div > div > div:first-child{
	padding-bottom: 20px;
	clear: both;
}
.hello_customers > div > div > p{
	margin: auto;
	margin-top: 20px;
	padding: 0 20px;
	font-size:.9rem;
}
.hello_customers > div > div > p+p{
	margin-top: 5px;
	font-size:.8rem;
}
.hello_customers > div > div > div:first-child > p+p{
	font-size: .9rem;
	float: right;
	margin-left: 0px;
}
.hello_customers > div > div > div:first-child > img{
	display: block;
	max-height:100px;
	max-width:100px;
//	float: left;
	margin: auto;
}
.hello_customers > div > div > div:first-child > div{
	font-size: .9rem;
	margin-top: 30px;
}
.hello_customers > div > div > div:last-child{
	font-size: 0.7rem;
	padding: 10px 0px;
}






.hello_cta{
  	padding:0px 10% 150px;
  	-webkit-flex-direction: column;
	flex-direction: column;
}
.hello_cta > div{
	display: block;
	width:100%;
}
.hello_cta > div+div{
	margin-top: 50px;
}
}


@media only screen and (max-width: 768px) {
.show_on_mobile{
	display:inline-block;
}

.hello_header{
  	height: calc(100vh - 120px);
}
#hellomaindiv > .stripes {
    height: 100vh;
}
#hellomaindiv > div.background{
	height: 100vh;
}

.hello_header > div.screen+div > div > div.heading{
	max-width: 90%;
}
.hello_header h1{
	font-size:2rem;
	line-height:2.5rem;
}
.hello_header h1 span{
	font-size:1.2rem;
	line-height:1.5rem;
}
.hello_header h2{
	max-width: 100%;
	font-size:1.2rem;
	line-height:1.5rem;
}
.hello_header h2+h2{
	margin-bottom:2rem;
}

.hello_why > div div.heading > div h2{
	font-size: 1.2rem;
	line-height:1.5rem;
	margin: auto;
}
}


@media only screen and (max-width: 480px) {

.hello_how > div div.content > div > div{
	height:240px;
}

.hello_how > div div.content > div > div > div.count{
	width:40px;
	height:40px;
	bottom: 10px;
	right: 10px;
	line-height: 40px;
	font-size: 17px;
	background: rgba(0,0,0,.3);
	-webkit-border-radius:50%;
	moz-border-radius:50%;
	border-radius: 50%;
	z-index: 2;
}

.hello_how > div div.content > div > div > div.left{
	width:0;
	height:240px;
	top: 0;
	left: 0;
	padding: 0;
}
.hello_how > div div.content > div > div > div.left > img{
	max-width:0;
	max-height:0;
}
.hello_how > div div.content > div > div > div.right{
	height:100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}
.hello_how > div div.content > div > div > div.right > div.upper{
	height:4.5rem;
	width: 100%;
	padding: 0px 30px;
}
.hello_how > div div.content > div > div > div.right > div.lower{
	flex:auto;
	width: 100%;
	padding: 0px 30px;
}


.hello_how > div div.content > div > div > div.right > div.upper h2{
	font-size: 1rem;
	line-height: 1.2rem;
}
.hello_how > div div.content > div > div > div.right > div.upper p{
	font-size: .9rem;
	line-height: 1.1rem;
}






}